@model RentU.Models.Item

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Item</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.categoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.categoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemImage)
        </dt>

        <dd>
            <img src="~/Uploads/@Html.DisplayFor(Model=>Model.ItemImage)" class="thumbnail" style="width:48px; height:48px;" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Add", "ADD", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
