@model IEnumerable<RentU.Models.Item>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Index</h2>
<div style="margin: 20%;">
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category.categoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemContent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemImage)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Category.categoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemContent)
        </td>
        <td>
            <img src="~/Uploads/@Html.DisplayFor(Model=>item.ItemImage)" class="thumbnail" style="width:48px; height:48px;" />
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>

</div>